* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
 
}



.product-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.product {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0;
  font-size: 18px;
}

.product p {
  font-size: 16px;
  color: #333;
}

.product select, .product button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.product button {
  background: #c9a253;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.product button:hover {
  background: #b08940;
}